body{
    background-image: url(http://motowallpapers.ru/wp/harley-davidson/touring/electra-glide-ultra-classic/2016/Harley-Davidson-Touring-Electra-Glide-Ultra-Classic-2016-1920x1080-003.jpg); /* Фоновый цвет и фоновый рисунок*/
		color: #fff; /*Цвет текста на странице*/
		background-attachment: fixed; /* Фон страницы фиксируется */
		background-repeat: repeat-x; /* Изображение повторяется по горизонтали */
}
div.centre {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    align-content: center;
    text-align: center;
  }
  
  div.bottomwhitespace {
    padding-bottom: 100pt;
    padding-top: 100pt;
  }
  
  .btn-group .button {
    margin-left: 5%;
    height: 250px;
    width: 250px;
    font: 100;
    background-color: lightblue;
    /* Green */
    margin-top: 35pt;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    /*float: left;*/
    display: inline-block;
  }